* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  font-family: "Gotham Pro", sans-serif;
  max-height: 100vh;
  overflow: hidden;
}

.heading {
  text-transform: uppercase;
  font-size: 20pt;
}

.linkHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header, footer {
  display: flex;
  justify-content: space-between;
  z-index: 10;
  padding: 10px 10vw;
  height: fit-content;
}

header {
  flex-direction: column;
  justify-content: left;
  height: 30vh;
  #mainHeading {
    border-top: 1px solid #fff;
    padding-top: 10px;
  }
}

main {
  display: flex;
  align-items: center;
  height: 53vh;
  padding: 2vh 8vw;
}

footer {
  height: 5vh;
  padding-bottom: 5vh;
  align-items: center;
}

.arrow-inner {
  display: flex;
  align-items: center;
  height: fit-content;
  gap: 10px;
}

.arrow {
  height: 30px;
  cursor: pointer;
}

.cardWrapper {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  height: 55vh;
  overflow-y: auto;
  padding: 2vh 2vw;
  width: 100%;

  .card {
    height: 200px;
    box-shadow: 0 0 50px #00000080 inset;
    border: none;
    transition: all .5s;
    &:hover{
      box-shadow: 0 0 50px #000000 inset;
    }
  }
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
  transition: .5s;

  .circleButton {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.circleButton {
  border-radius: 100%;
  height: 50px;
  width: 50px;
}

#menu {
  transform: scale(.7);
  border: 1px solid #fff;
  svg {
    height: 50px;
    width: 50px;
  }
}


@media screen and (min-width: 1400px){
  header {
    height: 22vh;
  }
  main {
    height: 61vh;
  }
}

@media screen and (max-width: 900px) {
  header {
    padding: 10px;
    height: 26vh;
    .linkHeading {
      margin-top: auto;
    }
  }
  footer {
    padding: 20px;
    height: 15vh;
    flex-direction: column;
    p {
      margin-top: 10px;
    }
  }
  main {
    height: 58vh;
    padding: 10px 5px;
  }
  .cardWrapper {
    padding: 5vw;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    .card {
      height: 35vh;
    }
  }

}