* {
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  font-family: "Gotham Pro", sans-serif;
  max-height: 100vh;
  overflow-y: hidden;
}
.heading {
  text-transform: uppercase;
  font-size: 20pt;
}

.link-heading {
  display: flex;
  justify-content: space-between;
}

header, footer {
  display: flex;
  position: fixed;
  justify-content: space-between;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 10px 10vw;
  height: fit-content;
}

header {
  top: 0;
  flex-direction: column;
}

main {
  position: relative;
  padding: 25vh 10vw 15vh 10vw;
  overflow-y: auto;
  min-height: 100vh;
  background-color: #ffffffB3;
  left: 0;
  right: 0;
  box-sizing:border-box;

  .link-heading {
    margin: 10px 0;
  }
}

footer {
  height: 100px;
  align-items: center;
  bottom: 0;
}
.arrow-inner {
  display: flex;
  align-items: center;
  height: fit-content;
  gap: 10px;
}

.arrow {
  height: 30px;
}

.storiesContainer {
  display: flex;
}