.Vysota {
  overflow-y: auto;
  width: 100vw;
  max-height: 100vh;
  background-color: black;
  color: white!important;
  text-align: left;
}
.header, .main, .footer, .container {
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: #fff;
  height: 7vh;

  .heading {
    font-size: 18pt;
    color: #000;
  }
}

.main {
  flex-direction: column;
  padding: 0;
  height: fit-content;
}

.footer {
  padding: 0 8vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: calc(1vh + 1vw);
  .inRow {
    gap: 10px;

    a {
      text-decoration: none;
      color: white;
    }
  }
  .svg {
    fill: #fff;
    width: calc(1vh + 1vw);
    height: calc(1vh + 1vw);
  }

}

.container {
  height: 85vh;
  padding: 0 8vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    font-size: calc(2vh + 2vw);
    padding: calc(.5vh + .5vw);
    text-align: center;
    border: 1px solid #fff;
  }
  .heading {
    font-size: calc(2.5vh + 2.5vw);
    width: 40vw;
    background-size: cover;
  }
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
  color: #000;
  height: 10vh;
  gap: 10px;
}

.lastContainer {
  height: 60vh;
  background-color: #fff;
  padding-top: 2vh;
  padding-bottom: 2vh;

  .heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #000;
    font-size: calc(1vh + 1vw);
    gap: 5px;

    label {
      font-size: 70%;
      text-align: left;
      margin-left: 2vw;
    }
    p {
      text-align: center;
      box-sizing: border-box;
      border: 2px solid black;
      padding: 10px;
      font-size: 90%;
      width: 100%;


    }
    .soc {
      padding: 0;
      border: none;
      .svg {
        height: calc(4vh + 4vw);
        width: calc(4vh + 4vw);
      }
      .svg + .svg {
        margin-left: -3vw;
      }
    }
  }
}

.heading {
  text-transform: uppercase;
  font-size: 24pt;
  font-weight: bold;
}

.inRow {
  display: flex;
  align-items: center;
  p {
    cursor: pointer;
  }
}

.svg {
  width: 40px;
  height: 40px;
}
.svg + .svg {
  margin-left: -20px;
}
.image {

}

.Vysota::-webkit-scrollbar {
  width: 3px;
  background-color: #ffffff20;
}
.Vysota::-webkit-scrollbar-thumb {
  background-color: #fff;
}
.Vysota::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #ffffff20;
}

@media screen and (max-width: 700px){
  .header {
    .heading{
      font-size: calc(1.7vh + 1.7vw);
      width: 45vw;
    }
  }
  .container {
    height: 75vh;
    flex-direction: column-reverse!important;
    justify-content: center;

    .heading {
      width: 80%;
    }
    .image {
      margin-bottom: 4vh;
      width: 100%;
    }
  }
  .lastContainer{
    flex-direction: column!important;
    .heading {

      font-size: calc(1.7vh + 1.7vw);
    }
  }
  .footer {
    margin-bottom: 1vh;
    .inRow {
      font-size: calc(2vh + 2vw);
      svg {
        width: calc(2vh + 2vw);
        height: calc(2vh + 2vw);
      }
    }
  }
}