
.buttonsInner::-webkit-scrollbar {
  display: none;
}

.buttonsInner {
  margin-left: 10px;
  display: flex;
  overflow-x: auto;
  box-sizing: border-box;
  width: 100vw;
  padding: 15px 0;
  gap: 5px;
}

.circleButton {
  border-radius: 100%;
  width: 60px;
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    .svg {
        height: 50px;
        width: 50px;
    }
  }
}

.svg {
  width: 40px;
  height: 40px;
    transition: .5s;
}