* {
  margin: 0;
  padding: 0;
}

.App {
  transition: 1s;
  min-height: 100vh;
  min-width: 100vw;

  box-sizing: border-box;
  padding: 5vh 20vw;
}


.circle-button {
  width: 64px;
  height: 64px;
  border-radius: 100%;
}

.about h1 {
  text-align: end;
}

.buttons-inner {
  margin: 2vh 0;
  display: flex;
  gap: 1vh;
  justify-items: center;

}

.cafe {
  margin-top: 5vh;
}

.cards-inner {
  margin: 2vh 0;
  height: 30vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1vh;
}

.card {
  cursor: pointer;
}

.card-add {
  font-size: 1.2rem;
}

.card-cafe {
  border-radius: 10px;
  background-size: cover !important;
  transition: .5s;
  font-size: calc(.75vh + .75vw);
}
.card-cafe:hover {
  box-shadow: inset 0 0 10vw 2px rgba(0, 0, 0, 0.58);
}
.link-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-contain {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.icon-contain:hover {
}

.circles .buttons-inner .circle-button {
  height: 25px;
  width: 25px;
  border: 1px solid;
}


h1 {
  text-transform: uppercase;
}

button {
  border: none;
  background-color: white;
}

.arrow {
  margin-right: .5vw;
  cursor: pointer;
}
